:root {
    --main: #191970;
    --acc: #bf00ff;
    --neut: #e4e4e4;
    --font-title: "Oswald", sans-serif;
    --font-gen: "Lato", sans-serif;
}
h1 {
    font-family: var(--font-title);
    font-size: 100px;
    color: var(--acc);
}
.navbar {
    background-color: var(--main);
}
.nav-link,
.navbar-brand {
    color: var(--acc);
}

header {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.2)
        ),
        url(/public/media/BackgroundHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main {
    background-color: var(--neut);
}
label {
    color: var(--acc);
}
.foot-link {
    text-decoration: none;
    color: var(--main);
}
footer {
    background-image: linear-gradient(
            to right,
            rgba(228, 228, 228, 1),
            rgba(228, 228, 228, 1),
            rgba(228, 228, 228, 1),
            rgba(228, 228, 228, 1),
            rgba(228, 228, 228, 1),
            rgba(228, 228, 228, 1),
            rgba(228, 228, 228, 1),
            rgba(228, 228, 228, 0),
            rgba(228, 228, 228, 0),
            rgba(228, 228, 228, 0)
        ),
        url(/public/media/BackgroundFooter.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 50vh;
    border-top: solid 4px var(--acc);
    color: var(--main);
    text-align: justify;
}
@media screen and (width < 768px) {
    h1 {
        font-size: 60px;
    }
    footer {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)
            ),
            url(/public/media/BackgroundFooter.jpg);
        color: var(--acc);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .foot-link {
        color: var(--acc);
    }
}
.gen-button {
    background-color: var(--main);
    color: var(--acc);
    border: solid 2px var(--main);
    border-radius: 16px;
    text-decoration: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    transition: 0.5s;
}
.gen-button:hover {
    background-color: var(--acc);
    color: var(--main);
}
